* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-preloader-container {
  position: relative;
  width: 320px;
  height: 568px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  font-size: 16px;
}

h1 {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: 0;
}

.circular-progress {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: conic-gradient(#001aff 270deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #fff;
}

.settings {
  display: grid;
  grid-template-columns: 56px 1fr;
  row-gap: 14px;
  column-gap: 20px;
  align-items: center;
}

.field-control {
  width: 56px;
  height: 36px;
  display: flex;
  border: 1px solid;
  border-radius: 999px;
  font-weight: 600;
  font-size: 100%;
  background: #fff;
  text-align: center;
}

.label {
  font-size: 18px;
  align-self: center;
}

.switch {
  display: inline-block;
  width: 56px;
  height: 36px;
  position: relative;
  cursor: pointer;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background: #dce4eb;
  border-radius: 999px;
  transition: background 0.15s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  transition: transform 200ms ease-in-out;
}

.switch input:checked + .slider {
  background: #58a;
}

.switch input:checked + .slider::before {
  transform: translateY(-50%) translateX(18px);
}

@media (min-width: 568px) {
  .container {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    column-gap: 80px;
    font-size: 16px;
  }
  .main-preloader-container {
    position: relative;
    width: 568px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
